registry=http://devops.chargoon.net:8081/repository/npm_registry/
public-hoist-pattern[]=swc

public-hoist-pattern[]=swc-loader

public-hoist-pattern[]=jquery
auto-install-peers=false
strict-peer-dependencies=false